@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url("typeface-nunito");
@import url("typeface-playfair-display");

@layer components {
  .large-text {
    @apply font-extrabold text-[75px];
  }
  .h1 {
    @apply font-extrabold text-[50px] leading-[110%];
  }
  .h2 {
    @apply font-bold text-[40px];
  }
  .h3 {
    @apply font-bold text-[30px];
  }
  .h4 {
    @apply font-bold text-[22px];
  }
  .h5 {
    @apply font-bold text-[20px];
  }
  .h6 {
    @apply font-bold text-lg;
  }
  .large-paragraph {
    @apply font-normal text-[25px] leading-[157.4%];
  }
  .default-paragraph {
    @apply font-normal text-[18px] leading-[125.4%] text-secondaryFour;
  }
  .show {
    @apply outline outline-red-600 outline-1;
  }
  .show-bg {
    @apply outline outline-red-500 outline-1 bg-green-400;
  }
  .playfair {
    font-family: "Playfair Display", serif;
  }
  .transition-global-duration,
  .smooth {
    @apply duration-300 transition-all;
  }
}

button.active {
  @apply bg-primaryOne text-white transition-all;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.center-absolutely {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-sticky {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background: rgba(255, 255, 255, 0.1);
}

.navbar-gray {
  @apply bg-gray-50;
}

.testimonial-title {
  background: #6850ff;
}

.faqs {
  width: inherit;
  margin-left: -20%;
  margin-right: -20%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

.spin {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.free-trial {
  background-image: url(../public/FreeTrial.svg);
}

.small-screen-menu {
  transition: height 0.3s ease-out;
}
