@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@layer components {
  .large-text {
    @apply font-extrabold text-[75px];
  }
  .h1 {
    @apply font-extrabold text-[50px] leading-[110%];
  }
  .h2 {
    @apply font-bold text-[40px];
  }
  .h3 {
    @apply font-bold text-[30px];
  }
  .h4 {
    @apply font-bold text-[22px];
  }
  .h5 {
    @apply font-bold text-[20px];
  }
  .h6 {
    @apply font-bold text-lg;
  }
  .large-paragraph {
    @apply font-normal text-[25px] leading-[157.4%];
  }
  .default-paragraph {
    @apply font-normal text-[18px] leading-[125.4%] text-secondaryFour;
  }
}

button.active {
  @apply bg-primaryOne text-white transition-all;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.show {
  outline: 1px solid red;
}

.center-absolutely {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background: rgba(255, 255, 255, 0.1);
}

.testimonial-title {
  background: #6850ff;
}

.email-input {
  background-color: rgba(255, 255, 255, 0.2);
}
